body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

a img {
    width: 3rem;
}

.card-body{
    width:37rem;
}
.card img {
    width: 37rem;
    height:30rem;
}

.card-body {
    background-color: rgb(185, 185, 185);
    color: black;
}